{% extends 'AppBlog/padre.html' %}

{% load static %}

{% block titulo_header %}

    <div class='post-heading'>
        <h1>{{posteo.titulo}}</h1>
        <span class='meta'>
            Posteado por
            <span>{{posteo.autor}}</span>
            {{posteo.fecha}}
        </span>
    </div>

{% endblock %}

{% block contenido_principal %}

    <article class="mb-3">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{posteo.cuerpo}}</p>
                </div>
            </div>
        </div>
    </article>

{% endblock %}